{% extends "base.html" %}
{% block title %}Gallery {% endblock title %}

{% block body %}
<form name="rform" class="search_gallery" action="/view_more_gallery" method="POST">
  {%csrf_token%}
  <div class="form__group field">
    <input type="input" class="form__field" name="search_gallery" placeholder="Enter Search Place" required="">
    <label for="search_gallery" class="form__label">Search Place</label>
  </div>
  <input type="submit" class="buttn" value="SEARCH">
</form>

<h1 class="heading">{{place |capfirst}}</h1>
<div class="fourcont">
  {% for image in images %}
  <div class="gitem">
    <img src="{{image}}" alt="">
  </div>
  {% endfor %}
</div>
{% endblock body %}