{% extends 'base.html' %}
{% block title %}Home {% endblock title %}

{% block body %}
<!-- Home -->
<div id="home" class="container-fluid ">
  <div id="carouselExampleCaptions" class="carousel slide" style="height: 100%;">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/mauritiusp.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>MAURITIUS</h1>
          <p>Mauritius is mostly appreciated by tourists for its natural environment and man-made attractions, the
            multi-ethnic and cultural diversity of the population, the tropical climate, beaches and water sports.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/london.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>LONDON</h1>
          <p>The most popular tourist places in London include the cultural heart of the city, Soho, the green suburbs
            of Hampstead and the Royal Parks like Richmond Park. </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/dubai.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>DUBAI</h1>
          <p>Ranking as one of the best Dubai tourist places, the Palm Islands are the world's largest man-made
            islands. Artificially constructed in the shape of a palm tree, the name does the place great justice. </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/switzerland.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>SWITZERLAND</h1>
          <p>Tourist attractions in Switzerland consist of some well groomed alpines of Davos and the blankets of
            fluffy snow in the Jungfraujoch. Switzerland are not only famous for their beauty, but the culture, food,
            adventure sports and historical monuments also make thousands of tourists flock here.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="/static/paris.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h1>PARIS</h1>
          <p>Paris, the city of Lights, the fashion capital, the city of Love. All these nicknames are far from enough
            to reveal all of Paris. Paris is one of the most beautiful cities in the world. It is known worldwide for
            the Louvre Museum, Notre-Dame cathedral, and the Eiffel tower.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div style="display: flex; justify-content: space-between;margin: 20px;padding: 0 50px;">
  <h1 class="mb-0" style="font-family: serif;text-decoration: underline;"><b>Explore the Unexplored </b>
  </h1>
  <div>
    <button class="btn btn-primary" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <i class="fa fa-arrow-left fa-xl"></i>
    </button>
    <button class="btn btn-primary" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <i class="fa fa-arrow-right fa-xl"></i>
    </button>
  </div>
</div>
<div class="container">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="4000">
        <div class="row">
          {% for g in g1 %}
          <div class="col-md-4 mb-3">
            <div class="card">
              <img class="img-fluid" alt="100%x280" src="{{g.img_link}}">
              <div class="card-body">
                <h4 class="card-title">{{g.v_place}}</h4>
                <p class="card-text">{{g.v_desc}}</p>
                <div style="display: flex;justify-content: space-around;">
                  <a href="/gallery/{{g.v_place}}" class="btn btn-outline-primary">View Gallery</a>
                  <a href="/places/{{g.v_place}}" class="btn btn-outline-info">Read More</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <div class="row">
          {% for g in g2 %}
          <div class="col-md-4 mb-3">
            <div class="card">
              <img class="img-fluid" alt="100%x280" src="{{g.img_link}}">
              <div class="card-body">
                <h4 class="card-title">{{g.v_place}}</h4>
                <p class="card-text">{{g.v_desc}}</p>
                <div style="display: flex;justify-content: space-around;">
                  <a href="/gallery/{{g.v_place}}" class="btn btn-outline-primary">View Gallery</a>
                  <a href="/places/{{g.v_place}}" class="btn btn-outline-info">Read More</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item " data-bs-interval="4000">
        <div class="row">
          {% for g in g3 %}
          <div class="col-md-4 mb-3">
            <div class="card">
              <img class="img-fluid" alt="100%x280" src="{{g.img_link}}">
              <div class="card-body">
                <h4 class="card-title">{{g.v_place}}</h4>
                <p class="card-text">{{g.v_desc}}</p>
                <div style="display: flex;justify-content: space-around;">
                  <a href="/gallery/{{g.v_place}}" class="btn btn-outline-primary">View Gallery</a>
                  <a href="/places/{{g.v_place}}" class="btn btn-outline-info">Read More</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="carousel-item " data-bs-interval="4000">
        <div class="row">
          {% for g in g4 %}
          <div class="col-md-4 mb-3">
            <div class="card">
              <img class="img-fluid" alt="100%x280" src="{{g.img_link}}">
              <div class="card-body">
                <h4 class="card-title">{{g.v_place}}</h4>
                <p class="card-text">{{g.v_desc}}</p>
                <div style="display: flex;justify-content: space-around;">
                  <a href="/gallery/{{g.v_place}}" class="btn btn-outline-primary">View Gallery</a>
                  <a href="/places/{{g.v_place}}" class="btn btn-outline-info">Read More</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Book -->
<div id="book" class="container-fluid">
  <p class="heading">BOOK NOW</p>
  <div class="container">
    <div class="forimg">
      <img src="/static/booking.jpg" alt="">
    </div>
    <div class="forform">
      <form action="/bookhotel" method="POST">
        {%csrf_token%}
        <div class="mb-3">
          <label for="to" class="form-label">To</label>
          <input type="Text" name="to_place" required class="form-control" id="to">
        </div>
        <div class="mb-3">
          <label for="departure" class="form-label">Departure</label>
          <input type="date" required class="form-control" id="departure">
        </div>
        <div class="mb-3">
          <label for="return" class="form-label">Return</label>
          <input type="date" required class="form-control" id="return">
        </div>
        <div class="mb-3">
          <label for="nuofpersons" class="form-label">Number of Persons</label>
          <input type="number" required class="form-control" id="nuofpersons">
        </div>
        <input type="submit" class="buttn" value="Book Now">
      </form>
    </div>
  </div>
</div>

<!-- Gallery -->
<div id="gallery" class="container-fluid">
  <p class="heading">GALLERY</p>
  <div class="threecon ">
    {% for gallery in galleries%}
    <div class="gcard">
      <div class="gcard-front">
        <img src="{{gallery.Gallery_img}}" alt="">
      </div>
      <div class="gcard-back">
        <h3>{{gallery.Gallery_place}}</h3>
        <p>{{gallery.Gallery_place_desc}} </p>
        <a href="/gallery/{{gallery.Gallery_place}}" class="buttn">SEE MORE</a>
      </div>
    </div>
    {% endfor %}
  </div>
  <section class="gcarousel">
    <div class="carousel__container">
      {% for gallery in gallery2%}
      <div class="gcarousel-item">
        <img class="carousel-item__img" src="{{gallery.Gallery_img}}" alt="" />
        <div class="carousel-item__details">
          <h5 class="carousel-item__details--title">{{gallery.G_place}}</h5>
          <a href="/gallery/{{gallery.G_place}}" class="link-opacity-50-hover">View More</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <a href="/gallery" class="buttn"
    style="display: flex; width: 70%; margin:auto; justify-content: center; margin-bottom: 10px;">VIEW MORE</a>
</div>

<!-- Packages -->
<div id="packages" class="container-fluid">
  <p class="heading">PACKAGES</p>
  <div class="threecon">
    {% for p in packages %}
    <div class="pcard">
      <img src="{{p.p_img}}" alt="">
      <div class="pcard-inner">
        <div>
          <h3
            style="margin: 0;padding: 0; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
            {{p.p_title}}</h3>
          {{p.No_N}}N {{p.p_cname|capfirst}}
        </div>
        <div><span class="badge rounded-pill text-bg-secondary">{{p.No_N}}N/{{p.No_D}}D</span></div>
      </div>
      <hr>
      <div style="display: flex; justify-content: space-evenly;margin-bottom: 5px;">
        <div><i class="fa-solid fa-plane"></i>{{p.No_F}} Flights</div>
        <div><i class="fa-solid fa-hotel"></i>{{p.No_H}} Hotels</div>
        <div><i class="fa-solid fa-car"></i>Transport</div>
      </div>
      <hr>
      <ul>
        <li>{{p.p_item1}}</li>
        <li>{{p.p_item2}}</li>
        <li>{{p.p_item3}}</li>
        <li>{{p.p_item4}}</li>
        <li>{{p.p_item5}}</li>
      </ul>
      <div class="pcard-bottom">
        <p style="margin-bottom: 0;">{{p.Offer_type}}</p>
        <div>
          <b>₹{{p.p_price}}</b>/Person
        </div>
      </div>
      <a href="/packages" class="btn btn-outline-success"
        style="border-radius: 10px;display: flex;justify-content: center;margin-top: 10px;">View Details</a>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Reviews -->
<div id="reviews" class="container-fluid">
  <p class="heading">REVIEWS</p>
  <div class="threecon">
    <div class="rbox">
      <div class="rimg">
        <img src="/static/klaus.jpg" alt="">
      </div>
      <div class="rcontent">
        <h3>Klaus</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <p>The trip was amazing! The scenery was breathtaking and the tour guide was very knowledgeable and friendly.
        </p>
      </div>
    </div>
    <div class="rbox">
      <div class="rimg">
        <img src="/static/caroline.jpg" alt="">
      </div>
      <div class="rcontent">
        <h3>Caroline</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <p>The food on the cruise was delicious and the entertainment was top-notch. I would highly recommend this
          experience!</p>
      </div>
    </div>
    <div class="rbox">
      <div class="rimg">
        <img src="/static/stefan.jpg" alt="">
      </div>
      <div class="rcontent">
        <h3>Stefan</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <p>The hotel was disappointing. The room was small and outdated, and the staff was unhelpful.</p>
      </div>
    </div>
    <div class="rbox">
      <div class="rimg">
        <img src="/static/rebekah.jpg" alt="">
      </div>
      <div class="rcontent">
        <h3>Rebakah</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <p>The city tour was informative and fun, but the guide was hard to understand at times due to their thick
          accent.</p>
      </div>
    </div>
    <div class="rbox">
      <div class="rimg">
        <img src="/static/damon.jpg" alt="">
      </div>
      <div class="rcontent">
        <h3>Damon</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <p>The transportation was unreliable and caused us to miss out on some of the planned activities. It was a
          frustrating experience.</p>
      </div>
    </div>
    <div class="rbox">
      <div class="rimg">
        <img src="/static/hayley.jpg" alt="">
      </div>
      <div class="rcontent">
        <h3>Hayley</h3>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
        <p>The safari was unforgettable! We saw so many amazing animals and the guide was excellent at spotting them.
          I would do it again in a heartbeat.</p>
      </div>
    </div>
  </div>
  <!-- display review  -->
  <div class="collapse" id="collapseExample">
    <div class="threecon">
      {% for x in querys %}
      <div class="item">
        <div class="rhead">
          <img src="/static/user.png" alt="">
          <h2> {{x.username|capfirst}}</h2>
        </div>
        <div class="rbody">
          <h4>{{x.review_place|capfirst}}</h4>
          <!-- stars -->
          <h4 style="display: inline;">Rating: </h4><b>{{x.rating_no}}/5</b>
          {% comment %} {% for i in %}
          <i class="fa-solid fa-star"></i>
          {% endfor %} {% endcomment %}
          <p>{{ x.review_desc }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <p style="display: flex;justify-content: space-evenly;">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
      aria-controls="collapseExample">View More</a>
    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
      aria-expanded="false" aria-controls="collapseExample">View Less</button>
  </p>
  <!-- add review -->
  <div class="addreview">
    {% if user.is_authenticated %}
    <form name="rform" onsubmit="return validateForm()" action="/addreview" method="POST">
      {%csrf_token%}
      <div class="mb-3">
        <label for="place_vis" class="form-label">Place Visited</label>
        <input type="Text" name="place_visited" required class="form-control" id="place_vis">
      </div>
      <div class="mb-3">
        <label for="Rate" class="form-label">Rate out of 5</label>
        <input type="number" name="rating" required class="form-control" id="Rate">
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" required placeholder="Leave a review here" name="review"
          id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Add your review</label>
      </div>
      <button type="submit" class="btn btn-outline-success">Add Review</button>
    </form>
    {% else %}
    <h3>You are not logged in please login to add review</h3>
    <a href="/Login" class="btn btn-primary">Click here to Login</a>
    {% endif %}
  </div>
</div>

<!-- Blog -->
<section class="blog">
  <p class="heading">BLOG</p>
  <div class="blog1">
    <div class="desc">
      <h3>I Left My Career To Become A World Traveller </h3>
      <p>Traveling is an enriching experience that broadens horizons, exposes new cultures, and creates unforgettable
        memories.</p>
      <p style="text-align: end;">-MadMax </p>
    </div>
  </div>
  <div class="threecon">
    {% for b in blogs %}
    <div class="card">
      <div class="card__header">
        <img
          src="{{b.b_img}}"
          alt="card__image" class="card__image" width="600">
      </div>
      <div class="card__body">
        <h4>{{b.b_place}}</h4>
        <p>{{b.b_desc}}</p>
      </div>
      <div class="card__footer">
        <div class="user">
          <div class="user__info">
            <h5>{{b.blogger}}</h5>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
<!-- add blog  -->
<a href="/packages" class="btn btn-primary">Add Blog</a>
</section>

{% endblock body %}