{% extends 'base.html' %}
{% block title %}{% for h in hotel %}{{h.hotel_name}}{% endfor %}{% endblock title %}

{% block body %}
{% for h in hotel %}
<h1 class="heading">{{h.hotel_name}}</h1>
<!-- Hotel  -->
<div class="hotelcont">
    <div class="imgcontainer">
        <div class="mainimg">
            <img src="/media/{{h.hotel_Mainimage}}" alt="">
        </div>
        <div class="himg">
            <img src="/media/{{h.hotel_Mainimage}}" alt="">
            <img src="/media/{{h.hotel_image1}}" alt="">
            <img src="/media/{{h.hotel_image2}}" alt="">
            <img src="/media/{{h.hotel_image3}}" alt="">
        </div>
    </div>
    <div class="boxdesc">
        <span>
            <h2 style="text-decoration: underline;">{{h.hotel_name}}</h2>
            <span> Rating:{{h.hotel_rating}}/10</span>
            <h5>{{h.hotel_addresss}}</h5>
        </span>
        <hr>
        <p>{{h.hotel_desc}}</p>

        <span class="badge rounded-pill text-bg-primary">&centerdot; Wellness</span>
        <span class="badge rounded-pill text-bg-primary">&centerdot; SPA</span>
        <span class="badge rounded-pill text-bg-primary">&centerdot; Open & Private Pool</span>
        <span class="badge rounded-pill text-bg-primary">&centerdot; 24/7 Services</span>
        <span class="badge rounded-pill text-bg-primary">&centerdot; Luxury Rooms</span>

        <hr>
        <span><b>Contact no.<i class="fa-solid fa-phone"></i> : 12141214</b></span><br>
        <span><b>Mail <i class="fa-solid fa-envelope"></i> : madmax@maketrips.com</b></span>
    </div>
</div>
<!-- Rooms  -->
<div class="broom">
    <h2>Room Types :</h2>
    <hr>
    <div class="room">
        <div class="roomd">
            <img src="/media/{{h.hotel_image3}}" alt="">
        </div>
        <div class="roomd">
            <h3><b>Special Double Room</b></h3>
            <span>A special double room is a luxurious and spacious accommodation option designed for two guests. It
                offers enhanced amenities, elegant decor, and a comfortable environment for a memorable stay.</span>
        </div>
        <div class="roomd"
            style="display: flex;flex-direction: column;justify-content: space-around;border-left: 0.5px solid black; ">
            <span style="display: flex;justify-content: space-between;"><b>Max :</b><b><i
                        class="fa-solid fa-user"></i><i class="fa-solid fa-user"></i></b> </span>
            <div style="display: flex;justify-content: space-between;">
                <h5>Price per Night :</h5>
                <span><b>₹</b>{{h.hotel_price}} /-</span>
            </div>
            <button class="btn btn-success" style="border-radius: 2rem;display: flex; justify-content: center; "
                onclick="fill()">BOOK NOW</button>
        </div>
    </div>
    <hr>
    <div class="room">
        <div class="roomd">
            <img src="https://source.unsplash.com/random/?single room" alt="">
        </div>
        <div class="roomd">
            <h3><b>Deluxe Single Room</b></h3>
            <span>A single room has hot / cold air conditioned, a furnished balcony with sun loungers with swimming pool
                or mountain views and free WI FI.</span>
        </div>
        <div class="roomd"
            style="display: flex;flex-direction: column;justify-content: space-around;border-left: 0.5px solid black; ">
            <span style="display: flex;justify-content: space-between;"><b>Max :</b><b><i
                        class="fa-solid fa-user"></i></b> </span>
            <div style="display: flex;justify-content: space-between;">
                <h5>Price per Night :</h5>
                <span><b>₹</b> 7,999 /-</span>
            </div>
            <button class="btn btn-success" style="border-radius: 2rem;display: flex; justify-content: center; "
                onclick="fill()">BOOK NOW</button>
        </div>
    </div>
    <hr>
    <div class="room">
        <div class="roomd">
            <img src="/static/familyroom.jpg" alt="">
        </div>
        <div class="roomd">
            <h3><b>Standard Family Room</b></h3>
            <span>A family room is a versatile and comfortable space for relaxation, entertainment, and quality time
                spent together. It typically serves as a gathering place for family members to engage in various
                activities.</span>
        </div>
        <div class="roomd"
            style="display: flex;flex-direction: column;justify-content: space-around;border-left: 0.5px solid black; ">
            <span style="display: flex;justify-content: space-between;"><b>Max :</b><b><i
                        class="fa-solid fa-user"></i><i class="fa-solid fa-user"></i><i class="fa-solid fa-user"></i><i
                        class="fa-solid fa-user"></i><i class="fa-solid fa-user"></i></b> </span>
            <div style="display: flex;justify-content: space-between;">
                <h5>Price per Night :</h5>
                <span><b>₹</b> 30,000 /-</span>
            </div>
            <button class="btn btn-success" style="border-radius: 2rem;display: flex; justify-content: center; "
                onclick="fill()">BOOK NOW</button>
        </div>
    </div>
</div>
<!-- Traveller details -->
<div id="travellerdetails">
    <div id="infoform">
        <div style="display: flex;justify-content: space-between;">
            <h2>Traveller Details:</h2>
            <i class="fa-solid fa-xmark fa-2xl" style="color: #000000;align-self: center; " onclick="closeform()"></i>
        </div>
        <hr>
        <form action="/book/{{h.hotel_name}}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="firstname" class="form-label">Firstname</label>
                <input type="text" required name="tfname" class="form-control" id="firstname">
            </div>
            <div class="mb-3">
                <label for="lastname" class="form-label">Lastname</label>
                <input type="text" required name="tlname" class="form-control" id="lastname">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" required name="temail" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">You'll receive a confirmation mail</div>
            </div>
            <div class="mb-3">
                <label for="Contact_no" class="form-label">Contact Number</label>
                <input type="text" required name="tphone" class="form-control" id="Contact_no">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <input type="text" required name="taddress" class="form-control" id="address">
            </div>
            <div class="mb-3">
                <label for="room_type" class="form-label">Room Type </label>
                <!-- <input type="" required class="form-control" id="room_type"> -->
                <select class="form-select" required name="troom" aria-label="Default select example">
                    <option selected>Room Type</option>
                    <option value="Special Double Room">Special Double Room</option>
                    <option value="Deluxe Single Room">Deluxe Single Room</option>
                    <option value="Standard Family Room">Standard Family Room</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="noofnight" class="form-label">Number of Days </label>
                <input type="number" required name="tdays" class="form-control" id="noofnight">
            </div>
            <div class="mb-3">
                <label for="pincode" class="form-label">Pincode </label>
                <input type="number" required name="tpin" class="form-control" id="pincode">
            </div>
            <div class="mb-3">
                <label for="Country" class="form-label">Country </label>
                <input type="text" required name="country" class="form-control" id="Country">
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Special Requirements" name="sreq" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                <label for="floatingTextarea2">Special Requirements:</label>
            </div>
            <button type="submit" class="btn btn-success"
                style="border-radius: 2rem;display: flex; justify-content: center; ">Submit</button>
        </form>
    </div>
</div>
{% endfor %}

{% endblock body %}