{% extends 'base.html' %}
{% block title %}Hotels {% endblock title %}

{% block body %}
<h1>Hotels:</h1>
<div class="fourcont">
    <div class="item">
        <img src="/static/icelandsp.jpg" alt="">
        <div class="boxdesc">
            <ul style="list-style-type: none;"></ul>
            <span><h2>Hotel name</h2></span>
            <span>rating</span>
            <h3>Location</h3>
            <hr>
            <span>Price per night :</span>
            <span><b>₹</b>  /-</span>
            <hr>
            <p>hotel desc</p>
            
                <li style="text-align: center;">
                    <a class="btn btn-primary" style="border-radius: 2rem;" href="/Logout">BOOK NOW</a>
                </li>
            </ul>
             
        </div>
    </div>
    <div class="item">
        <img src="/static/icelandsp.jpg" alt="">
        <div class="boxdesc">
            <ul style="list-style-type: none;"></ul>
            <span><h2>Hotel name</h2></span>
            <span>rating</span>
            <h3>Location</h3>
            <hr>
            <span>Price per night :</span>
            <span><b>₹</b>  /-</span>
            <hr>
            <p>hotel desc</p>
            
                <li style="text-align: center;">
                    <a class="btn btn-primary" style="border-radius: 2rem;" href="/Logout">BOOK NOW</a>
                </li>
            </ul>
             
        </div>
    </div>
    <div class="item">
        <img src="/static/icelandsp.jpg" alt="">
        <div class="boxdesc">
            <ul style="list-style: none;"></ul>
            <span><h2>Hotel name</h2></span>
            <span>rating</span>
            <h3>Location</h3>
            <hr>
            <span>Price per night :</span>
            <span><b>₹</b>  /-</span>
            <hr>
            <p>hotel desc</p>
            
                <li style="text-align: center;">
                    <a class="btn btn-primary" style="border-radius: 2rem;" href="/Logout">BOOK NOW</a>
                </li>
            </ul>
             
        </div>
    </div>
    <div class="item">
        <img src="/static/icelandsp.jpg" alt="">
        <div class="boxdesc">
            <ul style="list-style-type: none;"></ul>
            <span><h2>Hotel name</h2></span>
            <span>rating</span>
            <h3>Location</h3>
            <hr>
            <span>Price per night :</span>
            <span><b>₹</b>  /-</span>
            <hr>
            <p>hotel desc</p>
            
                <li style="text-align: center;">
                    <a class="btn btn-primary" style="border-radius: 2rem;" href="/Logout">BOOK NOW</a>
                </li>
            </ul>
             
        </div>
    </div>
</div>
{% endblock body %}