{% extends 'base.html' %}
{% block title %}Hotels {% endblock title %}

{% block body %}
<h1>Hotels:</h1>
<hr>
<div class="fourcont">
    {% for h in hotels %}
    <div class="boxitem">
        <img src="/media/{{h.hotel_Mainimage}}" alt="">
        <div class="boxdesc">
            <span>
                <h2 style="text-decoration: underline;">{{h.hotel_name}}</h2>
                <span> Rating:{{h.hotel_rating}}/10</span>
                <h5>{{h.hotel_addresss}}</h5>
            </span>
            <hr>
            <div style="display: flex;justify-content: space-between;">
                <h5>Price per Night :</h5>
                <span><b>₹</b>{{h.hotel_price}} /-</span>
            </div>
            <hr>
            <p>{{h.hotel_desc}}</p>
            <a class="btn btn-success" style="border-radius: 2rem;display: flex; justify-content: center; "
                href="/hotel/{{h.id}}">BOOK NOW</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock body %}