{% extends "base.html" %}
{% block title %}{% for x in searched %}{{x.placename}}{% endfor %}{% endblock title %}
{% block body %}
{% for x in searched %}
<h1 style="margin-top: -35px;" class="heading">{{x.placename}}</h1>
<div class="simgcont">
  <div class="smain">
    <img src="https://source.unsplash.com/random/?{{x.placename}}" alt="{{x.placename}}">
  </div>
  <div class="ssec">
    <img src="https://source.unsplash.com/random/?{{x.splace1}}s" alt="{{x.splace1}}">
    <img src="https://source.unsplash.com/random/?{{x.splace2}}" alt="{{x.splace2}}">
    <img src="https://source.unsplash.com/random/?{{x.splace3}}s" alt="{{x.splace3}}">
    <img src="https://source.unsplash.com/random/?{{x.splace4}}s" alt="{{x.splace4}}">
    <img src="https://source.unsplash.com/random/?{{x.splace5}}s" alt="{{x.splace5}}">

  </div>
</div>
<p style="width: 90%;margin: auto;"><b>{{x.placedescription}}</b></p>
<hr>
<div class="broom">
  <div class="room">
    <img style="width: 30%; height: 100%; padding: 10px;" src="https://source.unsplash.com/random/?{{x.splace1}}" alt="{{x.splace1}}">
    <div style="width: 60%;">
      <h2>{{x.splace1|capfirst}}</h2>
      <p>{{x.splace1description}}</p>
    </div>
  </div>
  <hr>
  <div class="room">
    <img style="width: 30%; height: 100%; padding: 10px;" src="https://source.unsplash.com/random/?{{x.splace2}}" alt="{{x.splace2}}">
    <div style="width: 60%;">
      <h2>{{x.splace2|capfirst}}</h2>
      <p>{{x.splace2description}}</p>
    </div>
  </div>
  <hr>

  <div class="room">
    <img style="width: 30%; height: 100%; padding: 10px;" src="https://source.unsplash.com/random/?{{x.splace3}}" alt="{{x.splace3}}">
    <div style="width: 60%;">
      <h2>{{x.splace3|capfirst}}</h2>
      <p>{{x.splace3description}}</p>
    </div>
  </div>
  <hr>
  <div class="room">
    <img style="width: 30%; height: 100%; padding: 10px;" src="https://source.unsplash.com/random/?{{x.splace4}}" alt="{{x.splace4}}">
    <div style="width: 60%;">
      <h2>{{x.splace4|capfirst}}</h2>
      <p>{{x.splace4description}}</p>
    </div>
  </div>
  <hr>
  <div class="room">
    <img style="width: 30%; height: 100%; padding: 10px;" src="https://source.unsplash.com/random/?{{x.splace5}}" alt="{{x.splace5}}">
    <div style="width: 60%;">
      <h2>{{x.splace5|capfirst}}</h2>
      <p>{{x.splace5description}}</p>
    </div>
  </div>

</div>
{% endfor %}
{% endblock body %}